.signup {
  display: grid;
  height: 40vh;
  place-items: center;

}

.signup h1 {
  font-size: 4rem;
  width: 400px;
}

.signup label {
  display: block;
  font-weight: bold;
  margin-top: 1em;
  width: 400px;
  margin-bottom: 0.4em;
}

.signup label[disabled] {
  color: #ccc;
}

.signup input {
  box-sizing: border-box;
  width: 400px;
  padding: 1em;
  border-radius: 4px;
  border: 1px solid lightgray;
}

.signup button {
  padding: 0.6em 2.0em;
  width: 400px;
  margin-top: 2em;
  border-radius: 4px;
  border: none;
  background-color: var(--primary);
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  
}

.signup button[disabled] {
  background-color: lightblue;
}